.container {
  width: 100vw;
  min-height: calc(100vh - 80px);
  background-image: url("/hero.webp");
  background-size: cover;
  display: flex;
  align-items: center;
}

.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 10px;
}

.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

}

.title{
    font-family: "Cinzel", serif;
    font-size: 65px; 
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.desc{
    width: 70%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    color: #000000b3;
    margin-bottom: 12px;
}

.btn {
  max-width: fit-content;
  padding: 15px 25px;
  border: 0.8px solid black;
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out;
}

.btn:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width: 640px) {
  .container {
    background-position-y: 35%;
    background-image: url("/hero-m.webp");
    min-height: 65vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .textContainer {
    width: 100vw;
    padding: 40px 80px 40px 15px;
  }
  .subtitle {
    font-size: 13px;
  }
  .title {
  width: 50vw;
  font-size: 30px;
  }
  .desc{
    width: 50vw;
    font-size: 13px;
}
}
